@CHARSET "UTF-8";
body{
	background-image: url('../UI/LoginBG.jpg');
	background-repeat: no-repeat;
	background-size:100%;
}

#divtable{
	box-shadow: 3px 3px 70px #232222;
	font-size: 25px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-300px;
	margin-left:-250px;
	width:500px;
	height:600px;
	display: table;
}

#divtablecell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: Microsoft YaHei;
	padding:50px;
}

.TextInput{
	float: right;
	height:25px;
}

.Button{
	width: 100px;
	height: 30px;
	font-size: 20px;
}